/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
  /* font-weight: no se si sera necesario supongo que si; */
  /*font-style: no se si sera necesario supongo que si*/
  color: var(--main-font-color);
  box-sizing: border-box; /*para que las cosas no se salgan de los contenedores*/
  margin: 0;
  padding: 0;
  
  /*light theme*/
  /* --main-font-color: rgb(23, 43, 77); */
  --a-link: rgb(12 102 228);
  
  /*dark theme*/
  --main-font-color: rgb(159 173 188);
  --primary-color-grey_1: rgb(29 33 37);
  --primary-color-grey_1-hovered:rgb(166 197 226 / 16%) ;

}

a {
  text-decoration: none;
  color: var(--a-link);
}
a:hover {
  text-decoration: underline;
}

input {
  border-radius: 3px;
  padding: 0.5rem 8px;
  box-sizing: border-box;
  outline: 1px solid #7a869a;
  border: none;
  width: 100%;
}
input:focus {
  outline: 1px solid #388bff;
  box-shadow: inset 0 0 0 1px #388bff;
  /* border: 1px solid #388BFF; */
}

button {
  /* background-color: #0052cc; */
  background-color: var(--primary-color-grey_1);
  /* color: white; */
  color: var(--main-font-color);
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  max-width: 100%;
  padding: 6px 12px;
  width: 100%;
  justify-content: center;
  display: flex;
  min-width: max-content;
  height: 100%;
  align-items: center;
}

button:hover{
  background-color: var(--primary-color-grey_1-hovered);
  cursor: pointer;
}

.hidden {
  display: none;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block; /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}
