<div class="header">
  <img src="/assets/trello-small-icon.png" alt="trello-img" />
  <span>Trello</span>
</div>
<p class="login-continue">Inicia sesión para continuar</p>
<form>
  <input
    placeholder="Introduce tu correo electrónico"
    pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}"
    #email
    type="email"
  />
  <input
    class="hidden"
    placeholder="Introducir contraseña"
    type="password"
    #password
  />

  <button class="button-submit" (click)="checkEmail(email, $event, password)" type="submit">
    {{ buttonTitle }}
  </button>
</form>
<p class="continue">O continúa con:</p>
<div class="buttons-container">
  <button>
    <img src="assets/google-logo.svg" alt="google-logo" />
    <span>Google</span>
  </button>
  <button>
    <img src="/assets/microsoft-logo.svg" alt="microsoft-logo" />
    <span>Microsoft</span>
  </button>
  <button>
    <img src="/assets/apple-logo.svg" alt="apple-logo" />
    <span>Apple</span>
  </button>
  <button>
    <img src="/assets/slack-logo.svg" alt="slack-logo" />
    <span>Slack</span>
  </button>
</div>
<span class="login-register">
  <span class="isDisabled"><a href>No puedes iniciar sesión?</a></span>
  <span>·</span>
  <span class="isDisabled"><a href>Crear una cuenta</a></span>
</span>
